<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Spring Boot Application</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<style >
			.star {
				color: red;
			}
		</style>
	</head>
	
	<body>
		<h4>Welcome to Registration Forum</h4>
		<form action="#" th:action="@{/save-welcome-user}" th:object="${user}" method="post">
			User Name
			<span class="star">*</span>
			<input type="text" name="User Name" th:field="*{userName}">
			<p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">username error</p>
			<br />
			<br />
			Email
			<span class="star">*</span>
			<input type="text" name="User Name" th:field="*{email}">
			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</p>
			<br />
			<br />
			Password
			<span class="star">*</span>
			<input type="text" name="Password" th:field="*{password}">
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</p>
			<br />
			<br />
			Confirm Password
			<span class="star">*</span>
			<input type="text" name="Confirm Password" th:field="*{passwordConfirm}">
			<br />
			<br />
			<input class="btn btn-primary" type="submit" value="submit">
		</form> 

	</body>
</html>