<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Spring Boot Application</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	</head>
	
	<body>
		<h4>Welcome to Admin Forum</h4>
		<hr />
		<p>Congratulations!! Company is going to organizing a trip for ADMIN group....</p>
		<p>Please keep a secret as all the arrangements are in progress.....</p>
		<br />
		<a class="btn btn-primary" href="/employees" th:href="@{/employees}" role="button">Back</a>
	</body>
</html>